.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  display: block;
  visibility: visible;
}

.error-message {
  text-align: center;
  font-size: 20px;
}

.homePage {
  padding-bottom: 20px;

  &__search-form {
    width: 100%;
    display: flex;
    margin: 20px auto 0;
    justify-content: center;
    box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.23);
    margin-bottom: 30px;
  }
  &__icon {
    width: 17px;
    height: 17px;
    fill: #000000;
    margin-left: 16px;
  }
  &__input-container {
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    padding-bottom: 24px;

    &::after {
      content: '';
      border-bottom: 2px solid #c7c4c4;
      display: block;
      width: 100%;
    }
  }

  &__input {
    border: none;
    outline: none;
    width: 260px;

    &::placeholder {
      color: #000000;
      font-weight: 400;
      font-size: 14px;
    }
  }

  &__movieList {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  &__movieItem {
    cursor: pointer;
    margin-bottom: 10px;
    width: 300px;
    height: 156px;
    position: relative;
    transition: all 0.3s linear;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0.9) 100%
    );
    &:last-child {
      margin-bottom: 0px;
    }
    &:hover {
      transform: scale(1.05);
    }

    &-poster {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      z-index: -10;
    }

    &-name {
      position: absolute;
      color: #ffffff;
      font-size: 12px;
      font-weight: 500;
      z-index: 10;
      bottom: 14px;
      left: 12px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }

  &__btn {
    cursor: pointer;
    color: #556270;
    display: block;
    padding: 14px 22px 14px 22px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.004);
    border-radius: 5px;
    font-size: 22px;
    margin-right: 16px;
    font-weight: 700;
    background-color: #f2f2f2;
    &--next {
      margin-right: 0;
    }

    &--value {
      cursor: none;
    }
  }
}

@media (min-width: 768px) {
  .homePage {
    &__movieList {
      margin-bottom: 20px;
    }

    &__movieItem {
      margin: 0 12px 14px;
      width: 350px;

      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }

      &-name {
        font-size: 20px;
      }
    }

    &__input::placeholder {
      font-size: 16px;
    }
  }
}

@media (min-width: 1024px) {
  .homePage {
    // padding-bottom: 12px;

    &__movieList {
      margin-bottom: 20px;
      width: 980px;
      margin: 0 auto 20px;
      display: flex;
      // align-items: center;
    }

    &__movieItem {
      width: 470px;
      height: 244px;
      margin: 0 8px 20px;
    }

    &__input::placeholder {
      font-size: 16px;
    }
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
